/* Masonry Grid Container */
.ababilithub .layout.masonry 
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-auto-rows: auto; /* Automatically adjust row height based on content */
    grid-gap: 1.20rem; /* Space between grid items */
}

.ababilithub .layout.masonry .layout-item 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    break-inside: avoid;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: .3rem;
    padding: 1.20rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;    
    overflow: hidden;    
}

.layout-item:hover 
{
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.layout-item::before 
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(44, 62, 80, 0.7);
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 1;
}
        
.layout-item::before:hover 
{
    opacity: 1;
}

/* Ensure the image is resized to fit within the layout item */
.ababilithub .layout.masonry .layout-item img 
{
    width: 100%; /* Make the image responsive */
    height: 100%; /* Maintain the aspect ratio */
    object-fit: fill; /* Ensure the image covers the space without distortion */
    border-radius: .3rem; /* Optional: make the image corners rounded */
}

/* Center the title text */
.ababilithub .layout.masonry .layout-item .title 
{
    text-align: center;
    font-size: 1.3rem; /* Adjust font size as needed */
    font-weight: bold;
    margin-top: 0 auto; /* Add space between the image and the title */
}

/* Every 3th item spans 2 rows */
.ababilithub .layout.masonry .layout-item:nth-child(1) 
{
    /* grid-row: span 2; /* Span 2 rows */
}


/* Every 4th item spans 2 rows */
.ababilithub .layout.masonry .layout-item:nth-child(4) 
{
    grid-row: span 2; /* Span 2 rows */
}

/* Every 5th item spans 3 columns */
.ababilithub .layout.masonry .layout-item:nth-child(5) 
{
    grid-column: span 3; /* Span 3 columns */
}
