/* Masonry Grid Container */
.ababilithub .layout.masonry 
{
    margin: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-auto-rows: auto; /* Automatically adjust row height based on content */
    grid-gap: 1.20rem; /* Space between grid items */
}

.ababilithub .layout.masonry .layout-item 
{
    position: relative;
    border: 1px solid #ddd;
    border-radius: .3rem;
    padding: 1.20rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    align-items: center;    
    break-inside: avoid;
    overflow: hidden;
    
}

/* Every 3th item spans 2 rows */
.ababilithub .layout.masonry .layout-item:nth-child(1) 
{
    /* grid-row: span 2; /* Span 2 rows */
}


/* Every 4th item spans 2 rows */
.ababilithub .layout.masonry .layout-item:nth-child(4) 
{
    grid-row: span 2; /* Span 2 rows */
}

/* Every 5th item spans 3 columns */
.ababilithub .layout.masonry .layout-item:nth-child(5) 
{
    grid-column: span 3; /* Span 3 columns */
}
