.ababilithub .layout.masonry .layout-item .content:hover 
{
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
}

.ababilithub .layout.masonry .layout-item .content::before 
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    background: rgba(44, 62, 80, 0.7);
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 9998;
}

.ababilithub .layout.masonry .layout-item .content:hover::before 
{
    opacity: 1;
}
