@keyframes fa-fadein {
    0% {
        transform: scale(0) translate(-50%, -50%);
        opacity: 0;
    }
    39% {
        transform: scale(0.39) translate(-50%, -50%);
        opacity: 0.39;
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
        opacity: 0.6;
    }
}

@-webkit-keyframes pulse {
    0% {
        transform: scale(1) translate(-50%, -50%);
    }
    50% {
        transform: scale(1.03) translate(-50%, -50%);
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1) translate(-50%, -50%);
    }
    50% {
        transform: scale(1.03) translate(-50%, -50%);
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
    }
}

@-webkit-keyframes ripple {
    0% {
        transform: translate(-50%,-50%) scale(0);
        opacity: 0;
    }
    33% {
        transform: translate(-50%,-50%) scale(.39);
        opacity: .33;
    }
    66% {
        transform: translate(-50%,-50%) scale(.66);
        opacity: .66;
    }
    69% {
        transform: translate(-50%,-50%) scale(.69);
        opacity: .69;
    }
}

@keyframes ripple {
    0% {
        transform: translate(-50%,-50%) scale(0);
        opacity: 0;
    }
    30% {
        transform: translate(-50%,-50%) scale(.30);
        opacity: .30;
    }
    60% {
        transform: translate(-50%,-50%) scale(.60);
        opacity: .60;
    }
    90% {
        transform: translate(-50%,-50%) scale(.90);
        opacity: .90;
    }
}
