.ababilithub .layout.masonry .layout-item .content {
    position: relative;
}

.ababilithub .layout.masonry .layout-item .content img {
    transition: transform 0.3s, box-shadow 0.3s;
}

.ababilithub .layout.masonry .layout-item .content img:hover {
    box-shadow: 0;
}

.ababilithub .layout.masonry .layout-item .content::before {
    content: '';
    /*/// Make the before element perfectly centered to parent */    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    /*///*/
    width: 81%;
    height: 81%;
    border: 3px solid var(--fa-primary);
    border-radius: 100%;
    background: rgba(44, 62, 80, 0.7);
    color: var(--fa-primary);
    opacity: 0;
    transition: opacity 0.6s ease;
    z-index: 1;
    pointer-events: none; /* To allow hovering on the image */
}

.ababilithub .layout.masonry .layout-item .content:hover::before {
    border-radius: 0;
    background: linear-gradient(135deg, var(--fa-primary-dark) 0%, #254eda 100%);
    box-shadow: 0 6px 16px rgba(51, 102, 255, 0.4);
    opacity: .60;
    transform: translate(-50%, -50%) scale(1);
    animation: ripple .60s ease-out;
}

